{%  include "base.html.twig" %}

<main role="main" class="container">

    <h1 style="color: red">Bonjour {{name}}</h1>  
    Tu as {{age}} ans.<br>

    {% if age < 18 %}

        Tu es mineur.

    {% else %}

        Tu es mineur.

    {% endif %}
</main><!-- /.container -->